#preview {
    width: 460px;
    height: 215px;
}

.scroll-menu {
    overflow-x: auto;
    white-space: nowrap;
    max-height: 25em;
}
.card-title > a,
tbody a {
    text-decoration: none;
    color: rgb(64, 64, 64);
}
.card-title > a:hover,
tbody a:hover {
    color: rgb(128, 128, 128);
}

/* Game favourite icon */
.bi-star-fill {
    color: #ebc707;
}
.bi-star:hover {
    filter: brightness(105%);
}
.favourite-icon {
    background-color: transparent;
    border: none;
}
